@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@layer base {
  :root {
    --background: 38 60% 97%;
    --foreground: 24 15% 10%;

    --muted: 38 30% 93%;
    --muted-foreground: 24 10% 45%;

    --popover: 38 60% 97%;
    --popover-foreground: 24 15% 10%;

    --card: 38 60% 97%;
    --card-foreground: 24 15% 10%;

    --border: 40 10.3% 88.6%;
    --input: 40 10.3% 88.6%;

    --primary: 38 90% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 38 30% 93%;
    --secondary-foreground: 24 15% 10%;

    --accent: 38 30% 91%;
    --accent-foreground: 24 15% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 38 90% 48%;

    --radius: 0.75rem;

    --foreground-primary: 27 24.4% 8.8%;
    --foreground-secondary: 31 14.7% 58.6%;
    --foreground-secondary-80: 34 14.7% 40%;

    --brand-text: 43 100% 85%;
    --background-primary: 37 25% 90.4%;
    --background-secondary: 26 41% 91.4%;
    --background-app: 60 66.7% 97.6%;
    --stroke: 40 10.3% 88.6%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 0 0% 14.9%;

    --radius: 0.75rem;

    --foreground-primary: 0 0% 100%;
    --foreground-secondary: 0 0% 45.1%;
    --foreground-secondary-80: 0 0% 45.1%;

    --brand-text: 43 100% 85%;
    --background-primary: 60 4% 9.8%;
    --background-secondary: 60 4.1% 10.8%;
    --background-app: 0 0% 5.9%;
    --stroke: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 230ms;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.drag-region {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
