@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@layer base {
  :root {
    --background: 38 60% 97%;
    --foreground: 24 15% 10%;

    --muted: 38 30% 93%;
    --muted-foreground: 24 10% 45%;

    --popover: 38 60% 97%;
    --popover-foreground: 24 15% 10%;

    --card: 38 60% 97%;
    --card-foreground: 24 15% 10%;

    --border: 38 25% 85%;
    --input: 38 25% 85%;

    --primary: 38 90% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 38 30% 93%;
    --secondary-foreground: 24 15% 10%;

    --accent: 38 30% 91%;
    --accent-foreground: 24 15% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 38 90% 48%;

    --radius: 0.75rem;

    --app-bg: 60 66.7% 97.6%;
    --sidebar-bg: 27 40.7% 94.7%;
    --sidebar-border: 40 10.3% 88.6%;
    --chat-bg: 30 41.7% 95.3%;
    --inspector-bg: 33 68.6% 90%;
    --murici-orange: 32 94.6% 43.7%;
    --murici-green: 86 69% 22.7%;
    --murici-text-primary: 27 24.4% 8.8%;
    --murici-text-secondary: 31 14.7% 58.6%;
    --murici-nav-selected: 26 41% 91%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 0 0% 14.9%;

    --app-bg: 0 0% 5.9%;
    --sidebar-bg: 0 0% 3.9%;
    --sidebar-border: 0 0% 14.9%;
    --chat-bg: 0 0% 5.9%;
    --inspector-bg: 0 0% 3.9%;
    --murici-orange: 32 94.6% 43.7%;
    --murici-green: 84 80.5% 44.3%;
    --murici-text-primary: 0 0% 100%;
    --murici-text-secondary: 0 0% 45.1%;
    --murici-nav-selected: 0 0% 14.9%; /* Using accent fallback for dark mode */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.drag-region {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
